body { margin: 0px; background: #F7F7F8; }

header    {

    margin: auto;
    position: fixed;
    /*height: 130px;*/
    width: 100%;
    /*background: #363940;*/
    color: #F7F7F8;
    display: block;
    opacity: 0.96;
    top: 0;
    z-index: 100;

}

.left-of-page   {

    margin: 0px;
    position: static;
    height: 50%;
    width: 50%;
    float: left;
    background: whitesmoke;

}

.k-button   {

    min-width: 65%;

}

.right-of-page   {

    /*margin-right: 10px;*/
    /*margin-left: 0px;*/
    /*margin-top: -10px;*/
    /*margin-bottom: 10px;*/
    /*position: static;*/
    /*height: 400px;*/
    width: 48%;
    float: right;
    background: antiquewhite;
    /*border: 3px solid #7b7b7b;*/

}

.example-inscriptions   {

    /*position: relative;*/
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 30px;
    padding: 5px;
    font-family: sans-serif;
    font-size: 14px;
    font-style: inherit;
    background-color: rgba(3, 11, 1, 0.36);
    /*background-size: 100px 100px;*/
    text-align: center;
    width: 95%;
    /*border-radius: 10%;*/

}

#div-head-iscription       {

    position: relative;
    background-color: whitesmoke;
    /*float: inherit;*/
    /*height: 50px;*/
    width: 100%;
    float: right;
    text-align: center;
    /*border: 2px solid #2e3138;*/
    padding: 9px;
    /*display: flex;*/
    /*display: inline-block;*/
    overflow: auto;

}

#div-clean-output       {

    margin: 10px;
    position: relative;
    background-color: antiquewhite;
    /*float: inherit;*/
    height: 95px;
    text-align: center;
    width: 90%;
    float: right;
    /*border: 2px solid antiquewhite;*/
    padding: 9px;
    /*display: flex;*/
    /*display: inline-block;*/
    overflow: auto;
    /*border-radius: 20%;*/

}

#div-json-from-js       {

    margin: 10px;
    position: relative;
    background-color: antiquewhite;
    text-align: center;
    /*float: inherit;*/
    /*height: 50px;*/
    width: 90%;
    float: right;
    /*border: 2px solid antiquewhite;*/
    padding: 9px;
    /*display: flex;*/
    /*display: inline-block;*/
    overflow: auto;
    /*border-radius: 20%;*/

}

#div-jsp-out       {

    margin: 10px;
    position: relative;
    background-color: antiquewhite;
    text-align: center;
    /*float: inherit;*/
    /*height: 40%;*/
    /*height: ;*/
    width: 90%;
    float: right;
    /*border: 2px solid antiquewhite;*/
    padding: 9px;
    /*display: flex;*/
    /*display: inline-block;*/
    overflow: auto;
    /*border-radius: 20%;*/

}

#db-out       {

    margin: 5px;
    position: relative;
    background-color: navajowhite;
    text-align: center;
    /*float: inherit;*/
    height: 410px;
    /*height: ;*/
    width: 46%;
    float: right;
    /*border: 2px solid antiquewhite;*/
    padding: 9px;
    /*display: flex;*/
    /*display: inline-block;*/
    overflow: auto;
    /*border-radius: 20%;*/

}

/*#div-status       {*/

    /*margin: 10px;*/
    /*position: relative;*/
    /*background-color: antiquewhite;*/
    /*!*float: inherit;*!*/
    /*!*height: 40%;*!*/
    /*width: 40%;*/
    /*float: right;*/
    /*border: 2px solid antiquewhite;*/
    /*padding: 9px;*/
    /*!*margin: 2px;*!*/
    /*!*display: flex;*!*/
    /*display: inline-block;*/
    /*overflow: auto;*/

/*}*/

.mini-container    {

    margin-top: 0px;
    height: 150px;
    background: #050405;

}

.header-container   {

    margin-top: 160px

}

.head-button    {

    width: 410px;

}

#jsp-send span {

    padding: 10px 10px 10px 40px;
    position: absolute;
    text-decoration: none;

}

#jsp-send:hover  span   {

    opacity: 1;
    visibility: visible;

}

#view1   {

    /*position: fixed;*/
    text-align: center;
    width: 100%;
    margin: 0 auto;

}

#view2   {

    /*position: fixed;*/
    text-align: center;
    width: 100%;
    margin: 5px auto 0;

}

#commands   {

    color: slategray;

}

.test   {

    position: fixed;
    width: 100%;

}